/* FOLHA DE ESTILO */
.caixa{
	border: 1px solid red;
}
.gap{
	margin-top: 10px;
	margin-bottom: 10px;
}
html, body{
	height: auto;
}

body{
    background-image: url(imagens/capa2.jpeg) ;
    background-attachment: fixed;
}

/* MENU */
#inicio{
    height: 1000px;
    width: auto;
  
}

.nav-link{ 
    font-size: 20px;
	color: #dea340;
    margin-top: 15px;
    font-family:'Berkshire Swash',Open Sans;
}

.nav-link:hover, .nav-link:active{ 
	color: #c98b22;
}

.nav-item .dropdown-menu{
    background-color: transparent;
    border: none;
}

.nav-item .dropdown-menu .dropdown-item{
    background-color: transparent;
    color: #c98b22;
}

.tamanho{
    height: 470px;
}

#meucarousel{
	width: 600px;
	height: 470px;
    padding: 0;
}

#meucarousel img{ 
	width: 600px;
	height: 600px;
}
/* /MENU */

/* SITE */

#site row{
    height: auto;
}

#site h1{
	margin-top: 100px;
	color: #212121;
    font-family:'Berkshire Swash',Open Sans;
}
#site p{
	color: #212121;
    font-weight: bold;
}

#site{
    width: 100%; 
}

#quem{
    width: 100%;
    padding-left: 50px;
    background-color: rgba(255,255,255,0.78);
}

.projetos{ 
	margin: 5px;
	margin-bottom: 10px;
	width: auto;
	height: auto;
}

.projetos:hover{ 
	opacity: 0.8;
}
/* /SITE */

/* /FOOTER */
footer{
	height: 100px;
    margin-top: 40px;
    padding-top: 10px;
    background-color: rgba(255,255,255,0.78);
}

.icone{
    height: 60px;
    width: 60px;
}
/* /FOOTER */


/*PROJETOS*/

.pjts{
	margin-top: 15px;
	border-top: 1px solid #f0cf2c;
	padding-top: 15px;
}

#projeto img:hover{
	opacity: 0.6;
}

/*CONTATOS*/

.icon {
  width: 20px;
  height: 20px;
}

.icon-account-login {
  fill: #4d4d4d;
}