/* FOLHA DE ESTILO */
.caixa{
	border: 1px solid red;
}
.gap{
	margin-top: 10px;
	margin-bottom: 10px;
}
html, body{
	height: auto;
    overflow-x: hidden;
}

body{
    background-image: url(imagens/capa2.jpeg) ;
    background-attachment: fixed;
}

.carousel-indicators .active{
    background-color: #212121 !important;
}

#pacotes{
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
}

/* MENU */
#inicio{
    height: auto;
    width: auto;
  
}

.nav-link{ 
    font-size: 20px;
	color: #dea340;
    margin-top: 15px;
    font-family:'Berkshire Swash',Open Sans;
}

.nav-link:hover, .nav-link:active{ 
	color: #c98b22;
}

.nav-item .dropdown-menu{
    background-color: transparent;
    border: none;
}

.nav-item .dropdown-menu .dropdown-item{
    font-family:'Berkshire Swash',Open Sans;
    background-color: transparent;
    color: #c98b22;
}


/* /MENU */

/* SITE */
#site row{
    height: auto;
}

#site h1{
	margin-top: 100px;
	color: #212121;
    font-family:'Berkshire Swash',Open Sans;
}
#site p{
	color: #212121;
    font-weight: bold;
}

#site{
    width: 100%; 
}
.sonhoimg{
    height: 250px;
    width: 250px;
    padding: 0px !important;
}

#sonho h1{
    color: #212121;
    font-weight: bold;
    font-family:'Berkshire Swash',Open Sans;
    font-size: 80px;
}
.sonhoimg img{
    height: 100%;
    width: 100%;
    padding-right: 0px;
    margin-bottom: 0px;
}
.tamanho{
    height: 470px;
}

#meucarousel{
	width: 600px;
	height: 470px;
    padding: 0;
}
#rolagem{
    background-color: rgba(255,255,255,0.78);
}

#meucarousel img{ 
	width: 600px;
	height: 600px;
}

.carousel-item p{
    color: #c98b22;
    font-size: 3.5em;
    font-family:'Berkshire Swash',Open Sans;
    margin-top: 100px; 
}

.divisao{
    margin: 40px 0;
    width: 100%;
    height: auto;
}

#vantagens{
    overflow-x: hidden;
    width: 100%;
    padding-left: 50px;
    background-color: rgba(255,255,255,0.78);
}

#vantagens h1, #vantagens h3{
        color: #c98b22;
    text-align: center;
}

#vantagens h3{

    font-family:'Berkshire Swash',Open Sans;
}

#destinos h1{
    margin-top: 20px;
    margin-bottom: 60px;
}

#destinos img{
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
#destinos img:hover{ 
	opacity: 0.8;
}
/* /SITE */

/* /FOOTER */
footer{
	height: 100px;
    margin-top: 40px;
    padding-top: 10px;
    background-color: rgba(255,255,255,0.78);
}

.icone{
    height: 60px;
    width: 60px;
}
/* /FOOTER */


/*PROJETOS*/

.pjts{
	margin-top: 15px;
	border-top: 1px solid #f0cf2c;
	padding-top: 15px;
}

#projeto img:hover{
	opacity: 0.6;
}

/*CONTATOS*/

.icon {
  width: 20px;
  height: 20px;
}

.icon-account-login {
  fill: #4d4d4d;
}